button {
  background: none;
  cursor: pointer;
  font-size: inherit;
}
button:focus {
  outline: none;
}

@media (hover: hover) {
  button:hover, button:active {
    background-color: #fddcc4;
    border: 2px solid #fddcc4;
  }
}
.btn1 {
  display: block;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  color: #292929;
  background-color: #f1cdb3;
  border: 2px solid #f1cdb3;
  padding-inline: 43px;
  height: 50px;
  border-radius: 100px;
  margin: 0 auto;
}

.btn2 {
  display: block;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  color: #292929;
  background-color: transparent;
  padding-inline: 44px;
  height: 50px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  margin: 0 auto;
}

.btn__circle1 {
  display: block;
  background-color: #f1cdb3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  align-items: center;
}
.btn__circle1 img {
  padding-top: 5px;
}

.btn__circle2 {
  display: block;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
}
.btn__circle2 img {
  padding-top: 5px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

span {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 15px;
  color: #fff;
  font-family: "Arial", "Georgia", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

input {
  outline: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

header {
  position: absolute;
  padding-block: 30px;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__title {
  color: #f1cdb3;
  font-size: 32px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}
.logo__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  padding-left: 3px;
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.burger {
  cursor: pointer;
}
.burger__btn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 30px;
  height: 22px;
  margin-right: 43px;
  transition: all 0.3s ease-in-out;
}
.burger-line {
  width: 30px;
  height: 2px;
  background-color: #f1cdb3;
}
.burger .active {
  rotate: 90deg;
}

.menu__list {
  display: none;
}

@media (hover: hover) {
  .menu__list-item:hover {
    color: #fafafa;
  }
}
@media (min-width: 768px) {
  .burger {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .menu__list {
    display: flex;
    color: #cdcdcd;
    gap: 36px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  .menu__list .active {
    color: #fafafa;
    border-bottom: #f1cdb3 solid 3px;
  }
}
@media (min-width: 1280px) {
  header .wrapper {
    padding-block: 30px;
  }
}
.not-only {
  padding-top: 150px;
  background-image: url("/assets/images/not-only/bg-not-only.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.not-only .wrapper {
  flex-direction: column;
  align-items: center;
}
.not-only__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 42px;
}
.not-only__content {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #cdcdcd;
  text-align: center;
  margin-bottom: 42px;
}
.not-only__btn {
  margin-bottom: 107px;
}
.not-only__img {
  width: 260px;
  padding-left: 40px;
}

@media (min-width: 768px) {
  .not-only__title {
    font-size: 44px;
    text-align: start;
    letter-spacing: 0.001em;
    padding-inline: 124px;
  }
  .not-only__content {
    text-align: start;
    padding-inline: 124px;
  }
  .not-only__btn {
    margin-bottom: 102px;
  }
  .not-only__img {
    width: 569px;
    padding-left: 140px;
  }
}
@media (min-width: 1280px) {
  .not-only {
    padding-top: 180px;
  }
  .not-only .wrapper {
    flex-direction: row;
    align-items: center;
  }
  .not-only__title {
    margin-top: -80px;
    padding-inline: 0;
  }
  .not-only__content {
    padding-inline: 0;
  }
  .not-only__img {
    width: 698px;
    padding-left: 30px;
  }
  .not-only__btn {
    margin: 0 0;
  }
}
.about .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 42px;
}
.about__title {
  color: #545454;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 25px;
}
.about__text {
  color: #4C4C4C;
  margin-bottom: 22px;
  text-align: justify;
  line-height: 160%;
  padding-inline: 15px;
}
.about__pets {
  margin-top: 20px;
  max-width: 259px;
}

@media (min-width: 768px) {
  .about .wrapper {
    padding: 79px 154px 100px 154px;
  }
  .about__title {
    font-size: 35px;
    text-align: start;
    padding-inline: 15px;
  }
  .about__text {
    text-align: start;
    margin-bottom: 24px;
  }
  .about__pets {
    margin-top: 56px;
    max-width: 300px;
  }
}
@media (min-width: 1280px) {
  .about .wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 120px;
    max-width: 850px;
    padding-top: 70px;
    padding-bottom: 90px;
  }
  .about__title {
    margin-top: 24px;
    padding-inline: 0px;
  }
  .about__text {
    text-align: start;
    margin-bottom: 24px;
    padding-inline: 0px;
  }
  .about__pets {
    margin-top: 0px;
  }
}
.our-friends {
  background-color: #F6F6F6;
}
.our-friends .wrapper {
  flex-direction: column;
  padding-block: 42px;
}
.our-friends__title {
  font-size: 25px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  color: #545454;
  text-align: center;
  padding-bottom: 42px;
}
.our-friends__btn-arrows {
  display: flex;
  gap: 82px;
  margin-bottom: 42px;
}

.card {
  background-color: #fafafa;
  padding-bottom: 30px;
  margin-bottom: 23px;
}
.card-name {
  font-size: 20px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  color: #545454;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  margin-block: 30px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 40px;
}

@media (min-width: 320px) {
  .wrapper {
    max-width: 767px;
    padding-inline: 10px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    max-width: 1279px;
    padding-inline: 30px;
  }
}
@media (min-width: 1280px) {
  .wrapper {
    max-width: 1200px;
    padding-inline: 40px;
  }
}
