@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: bold;
  src: url("../assets/fonts/Georgia-BoldItalic.ttf") format("truetype");
  src: local("Georgia Bold Italic"), local("Georgia-BoldItalic"), url("../assets/fonts/Georgia-BoldItalic.eot") format("embedded-opentype"), url("../assets/fonts/Georgia-BoldItalic.woff") format("woff"), url("../assets/fonts/Georgia-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: normal;
  src: url("../assets/fonts/Georgia-Italic.eot");
  src: local("Georgia Italic"), local("Georgia-Italic"), url("../assets/fonts/Georgia-Italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Georgia-Italic.woff") format("woff"), url("../assets/fonts/Georgia-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/Georgia-Bold.eot");
  src: local("Georgia Bold"), local("Georgia-Bold"), url("../assets/fonts/Georgia-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Georgia-Bold.woff") format("woff"), url("../assets/fonts/Georgia-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Georgia.eot");
  src: local("Georgia"), url("../assets/fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Georgia.woff") format("woff"), url("../assets/fonts/Georgia.ttf") format("truetype");
}
button {
  background: none;
  cursor: pointer;
  font-size: inherit;
}
button:focus {
  outline: none;
}

@media (hover: hover) {
  button:hover, button:active {
    background-color: #fddcc4;
    border: 2px solid #fddcc4;
    transition: 0.7s ease-in-out;
  }
  .card:hover {
    background-color: #fff;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    transition: 0.7s ease-in-out;
  }
  .card:hover .card__btn-more {
    background-color: #fddcc4;
    border: 2px solid #fddcc4;
    transition: 0.7s ease-in-out;
  }
}
.btn1 {
  display: block;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  color: #292929;
  background-color: #f1cdb3;
  border: 2px solid #f1cdb3;
  padding-inline: 43px;
  height: 50px;
  border-radius: 100px;
  margin: 0 auto;
  transition: 0.7s ease-in-out;
}

.btn2 {
  display: block;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  color: #292929;
  background-color: transparent;
  padding-inline: 44px;
  height: 50px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  margin: 0 auto;
  transition: 0.7s ease-in-out;
}

.btn__circle1 {
  display: block;
  background-color: #f1cdb3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  align-items: center;
  transition: background-color 0.7s ease-in-out;
}
.btn__circle1 img {
  padding-top: 5px;
}

.btn__circle2 {
  display: block;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  transition: background-color 0.7s ease-in-out;
}
.btn__circle2 img {
  padding-top: 5px;
}

.title {
  font-size: 2.33rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  color: #545454;
}

@media (max-width: 768px) {
  .title {
    font-size: calc(1.67rem + 1.3020833333vw);
  }
}
@media (max-width: 320px) {
  .title {
    font-size: calc(1.67rem + 17 * (100vw - 320px) / 768);
  }
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

span {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 15px;
  color: #fff;
  font-family: "Arial", "Georgia", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

input {
  outline: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

header {
  position: absolute;
  padding-top: 4rem;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__title {
  color: #f1cdb3;
  font-size: 2.13rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 0.3em;
}
.logo__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  padding-left: 3px;
  color: #fff;
  font-size: 0.87rem;
  line-height: 120%;
  letter-spacing: 0.1em;
}

@media (hover: hover) {
  .menu__list-item:hover {
    color: #fafafa;
    transition: 0.7s ease-in-out;
  }
}
.burger {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: end;
}
.menu__list {
  display: flex;
  color: #cdcdcd;
  gap: 36px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s linear;
}
.menu__list .active {
  color: #fafafa;
  border-bottom: #f1cdb3 solid 3px;
}
.menu__list-item {
  transition: 0.7s ease-in-out;
}

@media (max-width: 768px) {
  header {
    margin-top: 4vw;
  }
}
@media (max-width: 767px) {
  header {
    margin-top: 2rem;
  }
  .burger {
    display: block;
    transition: opacity 0.5s linear;
    opacity: 1;
    cursor: pointer;
  }
  .burger__btn {
    display: flex;
    flex-direction: column;
    gap: 0.53em;
    height: 1.47rem;
    transition: all 0.5s ease-in-out;
  }
  .burger-line {
    width: 2rem;
    height: 0.13rem;
    background-color: #f1cdb3;
  }
  .burger .active {
    rotate: 90deg;
  }
  .menu__list {
    display: none;
  }
}
@media (max-width: 320px) {
  .burger__btn {
    margin-right: 13.4vw;
  }
}
.not-only {
  background: url("../assets/images/noise_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}
.not-only .wrapper {
  align-items: center;
}
.not-only__left {
  max-width: 30.67rem;
  min-width: 15rem;
}
.not-only__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2.93rem;
  text-align: start;
  line-height: 130%;
  letter-spacing: 0.001rem;
  margin: 6.5rem 0 42px;
}
.not-only__content {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #cdcdcd;
  text-align: start;
  margin-bottom: 42px;
}
.not-only__btn {
  margin: 0;
}
.not-only__img {
  padding-top: 12rem;
  width: min(46.53rem, max(54.53vw, 17.33rem));
}

@media (max-width: 768px) {
  .not-only .wrapper {
    padding-top: 3.5rem;
    flex-direction: column;
    align-items: center;
  }
  .not-only__title {
    font-size: calc(1.68rem + 2.4739583333vw);
  }
  .not-only__btn {
    margin: 0 auto 3.5em;
  }
  .not-only__img {
    width: min(37.93rem, max(74.1vw, 17.33rem));
    padding-top: 42px;
    padding-left: 18vw;
  }
}
@media (max-width: 320px) {
  .not-only__title {
    font-size: calc(1.68rem + 32.3 * (100vw - 320px) / 768);
    letter-spacing: 0.06em;
    text-align: center;
  }
  .not-only__content {
    text-align: center;
  }
  .not-only__btn {
    margin: 0 auto 3.7em;
  }
  .not-only__img {
    width: 81.25vw;
    padding-left: 12vw;
  }
}
.about .wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 8rem;
  max-width: 56.67rem;
  padding-top: 5.33rem;
  padding-bottom: 6.67rem;
}
.about__title {
  margin-bottom: 1.67rem;
}
.about__text {
  display: inline-flex;
  flex-direction: column;
  text-align: start;
  color: #4c4c4c;
  line-height: 160%;
  gap: 1.6rem;
}
.about__pets {
  max-width: 20rem;
}

@media (max-width: 768px) {
  .about .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 28.7rem;
    padding: 5.4rem auto 7.6rem;
    gap: 5.3rem;
  }
}
@media (max-width: 320px) {
  .about .wrapper {
    padding-block: 2.75rem;
    gap: 2.7em;
  }
  .about__title {
    text-align: center;
  }
  .about__text {
    text-align: justify;
    padding-inline: 1rem;
  }
  .about__pets {
    max-width: 17.3rem;
  }
}
.our-friends {
  background-color: #f6f6f6;
}
.our-friends .wrapper {
  flex-direction: column;
  padding: 5.5rem 0 6.7rem 0;
}
.our-friends__title {
  text-align: center;
}
.our-friends__slider {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  background-color: #fafafa;
  border-radius: 0.6em;
  padding-bottom: 2em;
  margin: 3.85em 3em 4em 3em;
  transition: 0.7s ease-in-out;
  cursor: pointer;
}
.card img {
  border-radius: 0.6em 0.6em 0 0;
  width: 18rem;
  height: 18rem;
}
.card-name {
  font-size: 1.33rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  color: #545454;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  margin-block: 1.5em;
}

.card__btn-prev {
  margin-right: 0.5rem;
}

.card__btn-next {
  margin-left: 0.5rem;
}

@media (max-width: 1279px) {
  .card {
    margin: 3.85em 1.2em 4em 1.2em;
  }
  .woody {
    display: none;
  }
  .card__btn-prev {
    margin-right: 0;
  }
  .card__btn-next {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .our-friends .wrapper {
    padding: 3rem 0 2.8rem 0;
  }
  .our-friends .jennifer {
    display: none;
  }
  .our-friends .card {
    margin: 2.5em 1.2em 7.8em 1.2em;
  }
  .card__btn-prev {
    position: absolute;
    margin-top: 30rem;
    margin-right: 9rem;
  }
  .card__btn-next {
    position: absolute;
    margin-top: 30rem;
    margin-left: 9rem;
  }
}
.help .wrapper {
  flex-direction: column;
  align-items: center;
  padding-top: 5.33rem;
  padding-bottom: 12.9rem;
}
.help__title {
  text-align: center;
  margin-bottom: 2rem;
}
.help__items {
  display: flex;
  max-width: 73.33rem;
  gap: 8.15rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.help__item {
  font-size: 1.3rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  margin-bottom: -6.33rem;
}
.help__item img {
  display: block;
  margin: 2rem auto;
}

@media (max-width: 886px) {
  .help__items {
    display: grid;
    column-gap: 4.65rem;
    row-gap: 8rem;
    grid-template-columns: repeat(3, 1fr);
    place-items: center center;
    grid-auto-flow: row dense;
  }
}
@media (max-width: 680px) {
  .help .wrapper {
    padding-top: 2.67rem;
    padding-bottom: 8.1rem;
  }
  .help__title {
    margin-bottom: 1.33rem;
  }
  .help__items {
    column-gap: 2.7em;
    row-gap: 5.71em;
    grid-template-columns: repeat(2, 1fr);
  }
  .help__item {
    font-size: calc(1rem + 0vw);
    margin-bottom: -5.33rem;
  }
  .help__item img {
    height: 3.2rem;
    margin: 1.53rem auto;
  }
  .help p {
    white-space: nowrap;
  }
}
.in-addition {
  background-color: #f6f6f6;
}
.in-addition .wrapper {
  flex-direction: row-reverse;
  padding-top: 5.33rem;
  padding-bottom: 6.6rem;
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;
}
.in-addition__content {
  display: flex;
  flex-direction: column;
  max-width: 25.33rem;
  gap: 1.34rem;
}
.in-addition__title {
  max-width: 20rem;
}
.in-addition__bank-info {
  color: #545454;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.in-addition__btn {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  color: #545454;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.33rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  max-width: 23.66rem;
  padding: 0.4em 0.8em;
  background-color: #f1cdb3;
  border: 0.14rem solid #f1cdb3;
  border-radius: 0.6rem;
}
.in-addition__legal {
  color: #b2b2b2;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-style: italic;
  font-size: 0.8rem;
  line-height: 150%;
}
.in-addition img {
  max-width: 39.45vw;
}

@media (max-width: 768px) {
  .in-addition .wrapper {
    flex-direction: column;
  }
  .in-addition__legal {
    margin-bottom: 2rem;
  }
  .in-addition img {
    max-width: 65.76vw;
  }
}
@media (max-width: 320px) {
  .in-addition .wrapper {
    padding-top: 42px;
    padding-bottom: 2.7rem;
  }
  .in-addition__content {
    gap: 1.6rem;
  }
  .in-addition__title {
    max-width: 15rem;
    margin: 0 auto;
  }
  .in-addition__bank-info {
    white-space: nowrap;
    letter-spacing: 0.01em;
    margin: 0 auto;
  }
  .in-addition__title {
    text-align: center;
  }
  .in-addition__btn {
    margin: 0 auto;
    font-size: 1rem;
    max-width: 18.67rem;
  }
  .in-addition__legal {
    max-width: 18.67rem;
    margin-bottom: 0.8rem;
    text-align: justify;
  }
  .in-addition img {
    max-width: 17.33rem;
  }
}
.footer {
  background: url("../assets/images/noise_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
  flex: 0 0 auto;
  min-height: 23.33rem;
}
.footer .wrapper {
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 2rem;
}
.footer__title {
  color: #fff;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 18.67rem;
  height: 18.67rem;
}
.footer__addresses {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20.13rem;
  height: 18rem;
}
.footer__info {
  display: flex;
  gap: 1.33rem;
}
.footer span {
  color: #f1cdb3;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.33rem;
  line-height: 115%;
  letter-spacing: 0.06em;
}
.footer .puppy {
  max-height: 21rem;
  display: inline-block;
  vertical-align: bottom;
  margin-top: 2.67rem;
}

@media (max-width: 1021px) {
  .footer .wrapper {
    justify-content: space-evenly;
    padding-top: 0.7rem;
  }
  .footer .puppy {
    margin-top: 0.67rem;
  }
}
@media (max-width: 680px) {
  .puppy {
    max-width: min(20.67rem, max(44.12vw, 17.33rem));
  }
}
@media (max-width: 320px) {
  .footer .wrapper {
    gap: 0;
  }
  .footer__contacts {
    margin: 0 auto;
    text-align: center;
    width: 16.4rem;
    height: 16.8rem;
  }
  .footer__addresses {
    margin: 0 auto;
    gap: 0.5rem;
    text-align: center;
    width: 19.9rem;
    height: 17.1rem;
  }
  .footer__addresses .title {
    width: 19.6rem;
  }
  .footer .puppy {
    margin-top: 1.4rem;
  }
  .footer__info1 {
    width: 19.3rem;
    gap: 0.7rem;
  }
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 40px;
}

@media (max-width: 768px) {
  .wrapper {
    padding-inline: 30px;
  }
}
@media (max-width: 320px) {
  .wrapper {
    padding-inline: 10px;
  }
}
