@charset "UTF-8";
@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: bold;
  src: url("../assets/fonts/Georgia-BoldItalic.ttf") format("truetype");
  src: local("Georgia Bold Italic"), local("Georgia-BoldItalic"), url("../assets/fonts/Georgia-BoldItalic.eot") format("embedded-opentype"), url("../assets/fonts/Georgia-BoldItalic.woff") format("woff"), url("../assets/fonts/Georgia-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: normal;
  src: url("../assets/fonts/Georgia-Italic.eot");
  src: local("Georgia Italic"), local("Georgia-Italic"), url("../assets/fonts/Georgia-Italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Georgia-Italic.woff") format("woff"), url("../assets/fonts/Georgia-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/Georgia-Bold.eot");
  src: local("Georgia Bold"), local("Georgia-Bold"), url("../assets/fonts/Georgia-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Georgia-Bold.woff") format("woff"), url("../assets/fonts/Georgia-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Georgia.eot");
  src: local("Georgia"), url("../assets/fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Georgia.woff") format("woff"), url("../assets/fonts/Georgia.ttf") format("truetype");
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/ArialMT.eot");
  src: local("Arial"), url("../assets/fonts/ArialMT.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/ArialMT.woff") format("woff"), url("../assets/fonts/ArialMT.ttf") format("truetype");
}
@font-face {
  font-family: "Arial";
  font-style: italic;
  font-weight: normal;
  src: url("../assets/fonts/Arial-ItalicMT.eot");
  src: local("Arial-Italic"), url("../assets/fonts/Arial-ItalicMT.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Arial-ItalicMT.woff") format("woff"), url("../assets/fonts/Arial-ItalicMT.ttf") format("truetype");
}
button {
  background: none;
  cursor: pointer;
  font-size: inherit;
}
button:focus {
  outline: none;
}

@media (hover: hover) {
  button:hover, button:active {
    background-color: #fddcc4;
    border: 2px solid #fddcc4;
    transition: 0.7s ease-in-out;
  }
  .card:hover {
    background-color: #fff;
    box-shadow: 0 0.13rem 2.33rem 0.93rem rgba(13, 13, 13, 0.04);
    transition: 0.7s ease-in-out;
  }
  .burger__btn:hover {
    scale: 1.2;
  }
  .card:hover .card__btn-more {
    background-color: #fddcc4;
    border: 2px solid #fddcc4;
    transition: 0.7s ease-in-out;
  }
  .btn__circle1:hover {
    background-color: #f1cdb3;
    border: 2px solid #f1cdb3;
    cursor: default;
  }
  .footer__info:hover {
    scale: 1.1;
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
    transition: all 0.2s linear;
  }
  .logo:hover {
    scale: 1.1;
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
    transition: all 0.2s linear;
  }
  .in-addition__btn:hover {
    background-color: #fddcc4;
    border: 2px solid #fddcc4;
    transition: 0.7s ease-in-out;
  }
  .disabled:hover {
    background-color: transparent;
    color: #cdcdcd;
    border: 2px solid #cdcdcd;
    cursor: default;
  }
}
@media (hover: none) {
  .btn2 {
    background-color: #f1cdb3;
    border: 2px solid #f1cdb3;
    transition: 0.7s ease-in-out;
  }
}
.btn1 {
  display: block;
  font-size: 1.13rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  color: #292929;
  background-color: #f1cdb3;
  border: 2px solid #f1cdb3;
  padding-inline: 2.87rem;
  height: 3.33rem;
  border-radius: 6.67rem;
  margin: 0 auto;
  transition: 0.7s ease-in-out;
}

.btn2 {
  display: block;
  font-size: 1.13rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  color: #292929;
  background-color: transparent;
  padding-inline: 2.93rem;
  height: 3.33rem;
  border-radius: 6.67rem;
  border: 2px solid #f1cdb3;
  margin: 0 auto;
  transition: 0.7s ease-in-out;
}

.btn__circle1 {
  display: block;
  background-color: #f1cdb3;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.33rem;
  width: 3.33rem;
  height: 3.33rem;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  align-items: center;
  transition: background-color 0.7s ease-in-out;
  color: #292929;
  cursor: default;
}
.btn__circle1 img {
  padding-top: 0.33rem;
}

.btn__circle2 {
  display: block;
  background-color: transparent;
  width: 3.33rem;
  height: 3.33rem;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  transition: background-color 0.7s ease-in-out;
  color: #292929;
}
.btn__circle2 img {
  padding-top: 0.33rem;
}

.title {
  font-size: 2.33rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  color: #545454;
}

@media (max-width: 768px) {
  .title {
    font-size: calc(1.67rem + 1.3020833333vw);
  }
}
@media (max-width: 320px) {
  .title {
    font-size: calc(1.67rem + 17 * (100vw - 320px) / 768);
  }
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 15px;
  color: #fff;
  font-family: "Arial", "Georgia", sans-serif;
  -webkit-tap-highlight-color: transparent;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  background-color: #fff;
}

input {
  outline: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

header {
  position: absolute;
  margin-top: 2rem;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.67rem;
  background-color: #f1cdb3;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.4rem rgba(0, 0, 0, 0.2);
  border-radius: 0.67rem;
  background-color: transparent;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  transition: all 0.2s linear;
}
.logo__title {
  color: #f1cdb3;
  font-size: 2.13rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 0.3em;
}
.logo__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  padding-left: 3px;
  color: #fff;
  font-size: 0.87rem;
  line-height: 120%;
  letter-spacing: 0.1em;
}

@media (hover: hover) {
  .menu__list-item:hover {
    color: #fafafa;
    transition: 0.7s ease-in-out;
  }
}
.burger {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: end;
}
.menu__list {
  display: flex;
  color: #cdcdcd;
  gap: 2.4rem;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s linear;
  z-index: 2;
}
.menu__list .active {
  color: #fafafa;
  border-bottom: #f1cdb3 solid 3px;
}
.menu__list .active a {
  cursor: default;
}

@media (max-width: 767.98px) {
  header .wrapper {
    padding-inline: 1.33rem;
  }
  .burger {
    display: block;
    transition: opacity 0.5s linear;
    opacity: 1;
    cursor: pointer;
    z-index: 3;
  }
  .burger__btn {
    display: flex;
    flex-direction: column;
    gap: 0.53em;
    height: 1.47rem;
    transition: all 0.5s ease-in-out;
  }
  .burger-line {
    width: 2rem;
    height: 0.13rem;
    background-color: #f1cdb3;
  }
  .burger .active-burger {
    rotate: 90deg;
  }
  .menu__list {
    gap: 5vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    font-size: 2.13rem;
    background-color: #292929;
    width: 16.27rem;
    height: 100%;
    min-height: 28.67rem;
    right: -100%;
    top: 0;
    padding-inline: 2.53rem;
    justify-content: center;
    align-items: center;
    transition: right 0.7s linear;
    z-index: 3;
  }
}
@media (max-width: 767.98px) and (orientation: landscape) {
  .menu__list {
    min-height: 26rem;
  }
}
.visible {
  right: 0;
}

.no-scroll {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  transition: all 0.7s linear;
}

.overlay-visible {
  opacity: 0.7;
  visibility: visible;
  background-color: #000;
}

.not-only {
  background: url("../assets/images/noise_transparent.png"), radial-gradient(100% 900% at 0% 0%, #5b483a 0%, #262425 100%), linear-gradient(0deg, #211f20, #211f20);
}
.not-only .wrapper {
  align-items: center;
}
.not-only__left {
  max-width: 30.67rem;
  min-width: 15rem;
}
.not-only__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2.93rem;
  text-align: start;
  line-height: 130%;
  letter-spacing: 0.001rem;
  margin: 6.5rem 0 2.8rem;
}
.not-only__content {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #cdcdcd;
  text-align: start;
  margin-bottom: 2.8rem;
}
.not-only__btn {
  margin: 0;
}
.not-only__img {
  padding-top: 12rem;
  width: min(46.53rem, max(54.53vw, 17.33rem));
}

@media (max-width: 768px) {
  .not-only .wrapper {
    padding-top: 3.5rem;
    flex-direction: column;
    align-items: center;
  }
  .not-only__title {
    font-size: calc(1.68rem + 2.4739583333vw);
  }
  .not-only__btn {
    margin: 0 auto 3.5em;
  }
  .not-only__img {
    width: min(37.93rem, max(74.1vw, 17.33rem));
    padding-top: 2.8rem;
    padding-left: 18vw;
  }
}
@media (max-width: 320px) {
  .not-only__title {
    font-size: calc(1.68rem + 32.3 * (100vw - 320px) / 768);
    letter-spacing: 0.06em;
    text-align: center;
  }
  .not-only__content {
    text-align: center;
  }
  .not-only__btn {
    margin: 0 auto 3.7em;
  }
  .not-only__img {
    width: 81.25vw;
    padding-left: 12vw;
  }
}
.about .wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: min(8rem, max(10.66vw, 2rem));
  max-width: 56.67rem;
  padding-top: 5.33rem;
  padding-bottom: 6.67rem;
}
.about__title {
  margin-bottom: 1.67rem;
}
.about__text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  display: inline-flex;
  flex-direction: column;
  text-align: start;
  color: #4c4c4c;
  line-height: 160%;
  gap: 1.6rem;
}
.about__pets {
  max-width: 20rem;
}

@media (max-width: 768px) {
  .about .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 28.7rem;
    padding: 5.4rem auto 7.6rem;
    gap: 5.3rem;
  }
}
@media (max-width: 320px) {
  .about .wrapper {
    padding-block: 2.75rem;
    gap: 2.7em;
  }
  .about__title {
    text-align: center;
  }
  .about__text {
    text-align: justify;
    padding-inline: 1rem;
  }
  .about__pets {
    max-width: 17.3rem;
  }
}
.our-friends {
  background-color: #f6f6f6;
}
.our-friends .wrapper {
  margin: 0 auto;
  flex-direction: column;
  padding: 5.5rem 0 6.7rem 0;
}
.our-friends__title {
  text-align: center;
  margin-bottom: 2rem;
}
.our-friends__slider-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-friends__slider {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 72rem;
  margin-bottom: 2rem;
  position: relative;
}
.our-friends__slider-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300%;
  height: 32.8rem;
}
.our-friends__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27.8rem;
  z-index: 2;
}

.slider-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 72rem;
  height: 100%;
}

.card {
  background-color: #fafafa;
  border-radius: 0.6em;
  padding-bottom: 2em;
  width: 18rem;
  transition: 0.7s ease-in-out;
  cursor: pointer;
}
.card img {
  border-radius: 0.6em 0.6em 0 0;
  width: 18rem;
  height: 18rem;
}
.card-name {
  font-size: 1.33rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  color: #545454;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  margin-block: 1.5em;
}

.card__btn-prev,
.card__btn-next {
  margin-top: -40rem;
}

@keyframes move-left {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes move-right {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
.transition__left {
  animation-name: move-left;
  animation-duration: 3s;
}

.transition__center {
  left: 0;
  transition: all 2s linear;
}

.transition__right {
  animation-name: move-right;
  animation-duration: 3s;
}

.modal {
  position: fixed;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: -1;
  transition: all 0.5s linear;
  opacity: 0;
}

.modal.visible {
  z-index: 4;
  opacity: 1;
}

.close {
  z-index: 4;
  margin-top: -3.35rem;
  margin-left: -0.5rem;
  flex-shrink: 0;
}

.no-s {
  overflow: hidden;
}

.modal-card {
  display: flex;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  color: #000;
}
.modal-card img {
  width: min(33.33rem, max(39.06vw, 23.33rem));
  border-radius: 0.6rem 0 0 0.6rem;
}
.modal-card__right {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  border-radius: 0 0.6rem 0.6rem 0;
  margin-left: -0.2rem;
  width: min(26.8rem, max(31.25vw, 18.67rem));
}
.modal-card__name {
  font-size: 2.33rem;
  line-height: 130%;
  margin-bottom: 0.67rem;
  padding-left: 2.2rem;
  padding-top: min(3.5rem, max(4.1vw, 0.66rem));
  letter-spacing: 0.06em;
}
.modal-card__type {
  font-size: 1.33rem;
  line-height: 115%;
  margin-bottom: min(2.67rem, max(3.13vw, 1.33rem));
  padding-left: 2.2rem;
}
.modal-card__info {
  font-size: 1rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  padding-left: 2.2rem;
  margin-bottom: min(2.67rem, max(3.13vw, 1.33rem));
  padding-right: min(1rem, max(1.17vw, 0.6rem));
}
.modal-card__other {
  display: flex;
  flex-direction: column;
  padding-left: 2.1rem;
  gap: min(0.73rem, max(0.85vw, 0.4rem));
}
.modal-card li::before {
  color: #f1cdb3;
  content: "•";
  padding-right: 0.67rem;
}

.overlay__visible {
  background-color: #000;
  opacity: 0.5;
  visibility: visible;
}

@media (max-width: 1120px) {
  .modal-card__name {
    padding-top: 0.67rem;
  }
  .modal-card__info {
    font-size: 0.87rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .modal-card img {
    height: 23.33rem;
  }
  .modal-card__name {
    padding-left: 1rem;
    margin-bottom: 0.5rem;
  }
  .modal-card__type {
    padding-left: 1rem;
  }
  .modal-card__info {
    padding-left: 1rem;
    padding-right: 0.2rem;
    font-size: 0.86rem;
    line-height: 110%;
  }
  .modal-card__right {
    min-height: 23.33rem;
  }
  .modal-card__other {
    padding-left: 0.8rem;
    text-align: start;
  }
}
@media (max-width: 700px) {
  .modal-card {
    min-height: 22.73rem;
    width: 17.5rem;
  }
  .modal-card img {
    display: none;
  }
  .modal-card__right {
    min-height: 23.33rem;
    border-radius: 0.6rem;
    text-align: center;
  }
  .modal-card__name {
    padding-left: 0rem;
    margin-bottom: 0.5rem;
  }
  .modal-card__type {
    padding-left: 0rem;
  }
  .modal-card__info {
    text-align: justify;
    padding-inline: 0.69rem;
    letter-spacing: 0.05em;
    margin-bottom: 1.5rem;
  }
  .modal-card__other {
    padding-left: 0.5rem;
    padding-bottom: 1.5rem;
  }
  .close {
    z-index: 4;
    margin-top: -3.35rem;
    margin-left: -1.3rem;
  }
}
@media (max-width: 1279.98px) {
  .our-friends__slider {
    max-width: 40rem;
  }
  .our-friends__btns {
    gap: 11.5rem;
  }
  .slider-items {
    max-width: 40rem;
  }
}
@media (max-width: 767.98px) {
  .our-friends .wrapper {
    padding: 3rem 0 2.8rem 0;
  }
  .our-friends__title {
    margin-bottom: 0.67rem;
  }
  .our-friends__btns {
    gap: 0rem;
  }
  .our-friends__slider {
    max-width: 20rem;
  }
  .our-friends__slider-position {
    margin-bottom: 4rem;
  }
  .slider-items {
    max-width: 20rem;
  }
  .card {
    margin-inline: 0rem;
  }
  .card__btn-prev {
    margin-top: -12.5rem;
    margin-right: -6rem;
  }
  .card__btn-next {
    margin-top: -12.5rem;
    margin-left: -6rem;
  }
}
.help .wrapper {
  flex-direction: column;
  align-items: center;
  padding-top: 5.33rem;
  padding-bottom: 12.9rem;
}
.help__title {
  text-align: center;
  margin-bottom: 2rem;
}
.help__items {
  display: flex;
  max-width: 73.33rem;
  gap: 8.15rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.help__item {
  font-size: 1.3rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  margin-bottom: -6.33rem;
  text-align: center;
}
.help__item img {
  display: block;
  margin: 2rem auto;
}

@media (max-width: 886px) {
  .help__items {
    display: grid;
    column-gap: 4.55rem;
    row-gap: 8.1rem;
    grid-template-columns: repeat(3, 1fr);
    place-items: center center;
    grid-auto-flow: row dense;
  }
}
@media (max-width: 510px) {
  .help .wrapper {
    padding-top: 2.8rem;
    padding-bottom: 8.1rem;
  }
  .help__title {
    margin-bottom: 1.2rem;
  }
  .help__items {
    column-gap: 2.7em;
    row-gap: 5.71em;
    grid-template-columns: repeat(2, 1fr);
  }
  .help__item {
    font-size: calc(1rem + 0vw);
    margin-bottom: -5.33rem;
  }
  .help__item img {
    height: 3.2rem;
    margin: 1.53rem auto;
  }
  .help p {
    white-space: nowrap;
  }
}
.in-addition {
  background-color: #f6f6f6;
}
.in-addition .wrapper {
  flex-direction: row-reverse;
  padding-top: 5.33rem;
  padding-bottom: 6.65rem;
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;
}
.in-addition__content {
  display: flex;
  flex-direction: column;
  max-width: 25.33rem;
  gap: 1.34rem;
}
.in-addition__title {
  max-width: 20rem;
}
.in-addition__bank-info {
  color: #545454;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.in-addition__btn {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  color: #545454;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.33rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  max-width: 21.3rem;
  padding: 0.4em 0.8em;
  background-color: #f1cdb3;
  border: 0.14rem solid #f1cdb3;
  border-radius: 0.6rem;
  padding-right: 0.7rem;
  transition: all 0.7s linear;
}
.in-addition__legal {
  color: #b2b2b2;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-style: italic;
  font-size: 0.8rem;
  line-height: 150%;
}
.in-addition img {
  max-width: 39.45vw;
}

@media (max-width: 768px) {
  .in-addition .wrapper {
    flex-direction: column;
  }
  .in-addition__legal {
    margin-bottom: 2rem;
  }
  .in-addition img {
    max-width: 65.76vw;
  }
}
@media (max-width: 320px) {
  .in-addition .wrapper {
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
  }
  .in-addition__content {
    gap: 1.6rem;
  }
  .in-addition__title {
    max-width: 15rem;
    margin: 0 auto;
  }
  .in-addition__bank-info {
    white-space: nowrap;
    letter-spacing: 0.01em;
    margin: 0 auto;
  }
  .in-addition__title {
    text-align: center;
  }
  .in-addition__btn {
    margin: 0 auto;
    font-size: 1rem;
    max-width: 18.67rem;
  }
  .in-addition__legal {
    max-width: 18.67rem;
    margin-bottom: 0.8rem;
    text-align: justify;
  }
  .in-addition img {
    max-width: 17.33rem;
  }
}
.footer {
  background: url("../assets/images/noise_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
  flex: 0 0 auto;
  min-height: 23.33rem;
}
.footer .wrapper {
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 2rem;
}
.footer__title {
  color: #fff;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 18.6rem;
  height: 18.8rem;
}
.footer__addresses {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20.13rem;
  height: 18rem;
}
.footer__info {
  display: flex;
  gap: 1.33rem;
  transition: all 0.2s linear;
}
.footer span,
.footer a {
  color: #f1cdb3;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.33rem;
  line-height: 115%;
  letter-spacing: 0.06em;
}
.footer .puppy {
  max-height: 21rem;
  display: inline-block;
  vertical-align: bottom;
  margin-top: 2.67rem;
}

@media (max-width: 1021px) {
  .footer .wrapper {
    justify-content: space-evenly;
    padding-top: 0.45rem;
  }
  .footer .puppy {
    margin-top: 0.67rem;
  }
}
@media (max-width: 680px) {
  .puppy {
    max-width: min(20.67rem, max(44.12vw, 17.33rem));
  }
}
@media (max-width: 320px) {
  .footer .wrapper {
    gap: 0;
  }
  .footer__contacts {
    margin: 0 auto;
    text-align: center;
    width: 16.45rem;
    height: 17.2rem;
  }
  .footer__addresses {
    margin: 0 auto;
    gap: 1rem;
    text-align: center;
    width: 19.9rem;
    height: 16.7rem;
  }
  .footer__addresses .title {
    width: 19.6rem;
  }
  .footer__info {
    gap: 1.35rem;
  }
  .footer .puppy {
    margin-top: 1.7rem;
  }
  .footer__info1 {
    width: 19.42rem;
    gap: 0.7rem;
  }
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 40px;
}

@media (max-width: 768px) {
  .wrapper {
    padding-inline: 30px;
  }
}
@media (max-width: 320px) {
  .wrapper {
    padding-inline: 10px;
  }
}
