@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: bold;
  src: url("../assets/fonts/Georgia-BoldItalic.ttf") format("truetype");
  src: local("Georgia Bold Italic"), local("Georgia-BoldItalic"), url("../assets/fonts/Georgia-BoldItalic.eot") format("embedded-opentype"), url("../assets/fonts/Georgia-BoldItalic.woff") format("woff"), url("../assets/fonts/Georgia-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: normal;
  src: url("../assets/fonts/Georgia-Italic.eot");
  src: local("Georgia Italic"), local("Georgia-Italic"), url("../assets/fonts/Georgia-Italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Georgia-Italic.woff") format("woff"), url("../assets/fonts/Georgia-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/Georgia-Bold.eot");
  src: local("Georgia Bold"), local("Georgia-Bold"), url("../assets/fonts/Georgia-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Georgia-Bold.woff") format("woff"), url("../assets/fonts/Georgia-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Georgia.eot");
  src: local("Georgia"), url("../assets/fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Georgia.woff") format("woff"), url("../assets/fonts/Georgia.ttf") format("truetype");
}
button {
  background: none;
  cursor: pointer;
  font-size: inherit;
}
button:focus {
  outline: none;
}

@media (hover: hover) {
  button:hover, button:active {
    background-color: #fddcc4;
    border: 2px solid #fddcc4;
    transition: 0.7s ease-in-out;
  }
  .card:hover {
    background-color: #fff;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    transition: 0.7s ease-in-out;
  }
  .card:hover .card__btn-more {
    background-color: #fddcc4;
    border: 2px solid #fddcc4;
    transition: 0.7s ease-in-out;
  }
  button:disabled:hover {
    background-color: transparent;
    border: 2px solid #cdcdcd;
    cursor: inherit;
  }
  .btn__circle1:hover {
    background-color: #f1cdb3;
    border: 2px solid #f1cdb3;
    cursor: inherit;
  }
}
.btn1 {
  display: block;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  color: #292929;
  background-color: #f1cdb3;
  border: 2px solid #f1cdb3;
  padding-inline: 43px;
  height: 50px;
  border-radius: 100px;
  margin: 0 auto;
  transition: 0.7s ease-in-out;
}

.btn2 {
  display: block;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  color: #292929;
  background-color: transparent;
  padding-inline: 44px;
  height: 50px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  margin: 0 auto;
  transition: 0.7s ease-in-out;
}

.btn__circle1 {
  display: block;
  background-color: #f1cdb3;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  align-items: center;
  transition: background-color 0.7s ease-in-out;
}
.btn__circle1 img {
  padding-top: 5px;
}

.btn__circle2 {
  display: block;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  transition: background-color 0.7s ease-in-out;
}
.btn__circle2 img {
  padding-top: 5px;
}

.title {
  font-size: 2.33rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  color: #545454;
}

@media (max-width: 768px) {
  .title {
    font-size: calc(1.67rem + 1.3020833333vw);
  }
}
@media (max-width: 320px) {
  .title {
    font-size: calc(1.67rem + 17 * (100vw - 320px) / 768);
  }
}
button:disabled {
  color: #cdcdcd;
  border: 2px solid #cdcdcd;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

span {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 15px;
  color: #fff;
  font-family: "Arial", "Georgia", sans-serif;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  background-color: #fff;
}

input {
  outline: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

header {
  position: absolute;
  padding-block: 2rem;
  width: 100%;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.67rem;
  background-color: #f1cdb3;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.4rem rgba(0, 0, 0, 0.2);
  border-radius: 0.67rem;
  background-color: transparent;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__title {
  color: #545454;
  font-size: 2.13rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 0.3em;
}
.logo__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  padding-left: 3px;
  color: #292929;
  font-size: 0.87rem;
  line-height: 120%;
  letter-spacing: 0.1em;
}

@media (hover: hover) {
  .menu__list-item:hover {
    color: #292929;
    transition: 0.7s ease-in-out;
  }
}
.burger {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: end;
}
.menu__list {
  display: flex;
  color: #545454;
  gap: 36px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s linear;
}
.menu__list .active {
  color: #292929;
  border-bottom: #f1cdb3 solid 3px;
}
.menu__list-item {
  transition: 0.7s ease-in-out;
}

@media (max-width: 767px) {
  .header .wrapper {
    padding-inline: 1.33rem;
  }
  .burger {
    display: block;
    transition: opacity 0.5s linear;
    opacity: 1;
    cursor: pointer;
  }
  .burger__btn {
    display: flex;
    flex-direction: column;
    gap: 0.53em;
    height: 1.47rem;
    transition: all 0.5s ease-in-out;
  }
  .burger-line {
    width: 2rem;
    height: 0.13rem;
    background-color: #000;
  }
  .burger .active {
    rotate: 90deg;
  }
  .menu__list {
    display: none;
  }
}
.our-friends {
  background-color: #f6f6f6;
}
.our-friends .wrapper {
  flex-direction: column;
  padding: 13.33rem 0 6.7rem 0;
}
.our-friends__title {
  text-align: center;
  margin-bottom: 2.9rem;
}
.our-friends__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  overflow: hidden;
}
.our-friends__btns {
  display: flex;
  justify-content: space-between;
  min-width: 23rem;
  margin-right: 0.5rem;
}

.card {
  background-color: #fafafa;
  border-radius: 0.6em;
  padding-bottom: 2em;
  margin: 1em 0 1em 0;
  transition: 0.7s ease-in-out;
  cursor: pointer;
}
.card img {
  border-radius: 0.6em 0.6em 0 0;
  width: 18rem;
  height: 18rem;
}
.card-name {
  font-size: 1.33rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  color: #545454;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  margin-block: 1.5em;
}

.hide {
  display: none;
}

@media (max-width: 768px) {
  .our-friends .wrapper {
    padding: 13.33rem 0 5.2rem 0;
  }
  .our-friends__title {
    margin-bottom: 1rem;
  }
  .our-friends__slider {
    justify-content: center;
    margin-bottom: 3.6rem;
    max-height: 1365px;
  }
  .our-friends .card {
    margin: 0.95em 1.3em 0.95em 1.3em;
  }
  .our-friends__btns {
    min-width: 22.8rem;
    margin-right: 0rem;
  }
}
@media (max-width: 680px) {
  .our-friends .wrapper {
    padding: 10.8rem 0 2.95rem 0;
  }
  .our-friends__title {
    margin-bottom: 1.85rem;
  }
  .our-friends__btns {
    min-width: 20rem;
  }
}
.footer {
  background: url("../assets/images/noise_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
  flex: 0 0 auto;
  min-height: 23.33rem;
}
.footer .wrapper {
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 2rem;
}
.footer__title {
  color: #fff;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 18.67rem;
  height: 18.67rem;
}
.footer__addresses {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20.13rem;
  height: 18rem;
}
.footer__info {
  display: flex;
  gap: 1.33rem;
}
.footer span,
.footer a {
  color: #f1cdb3;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.33rem;
  line-height: 115%;
  letter-spacing: 0.06em;
}
.footer .puppy {
  max-height: 21rem;
  display: inline-block;
  vertical-align: bottom;
  margin-top: 2.67rem;
}

@media (max-width: 1021px) {
  .footer .wrapper {
    justify-content: space-evenly;
    padding-top: 0.7rem;
  }
  .footer .puppy {
    margin-top: 0.67rem;
  }
}
@media (max-width: 680px) {
  .puppy {
    max-width: min(20.67rem, max(44.12vw, 17.33rem));
  }
}
@media (max-width: 320px) {
  .footer .wrapper {
    gap: 0;
  }
  .footer__contacts {
    margin: 0 auto;
    text-align: center;
    width: 16.4rem;
    height: 16.84rem;
  }
  .footer__addresses {
    margin: 0 auto;
    gap: 0.5rem;
    text-align: center;
    width: 19.9rem;
    height: 17.1rem;
  }
  .footer__addresses .title {
    width: 19.6rem;
  }
  .footer .puppy {
    margin-top: 1.4rem;
  }
  .footer__info1 {
    width: 19.42rem;
    gap: 0.7rem;
  }
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 40px;
}

@media (max-width: 768px) {
  .wrapper {
    padding-inline: 30px;
  }
}
@media (max-width: 320px) {
  .wrapper {
    padding-inline: 10px;
  }
}
